####################################
# Frontend (Node / React / Vite)
####################################
node_modules/
dist/
dist-ssr/
.env
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
####################################
# Backend (.NET)
####################################
bin/
obj/
.vs/

####################################
# IDEs / OS
####################################
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.user

####################################
# Logs
####################################
*.log

####################################
# App settings (local)
####################################
appsettings.Development.json
appsettings.Local.json